{% extends 'layout.html' %}
{% block content %}

<div class='row'>
  <div class='col-md-8'>
    <div id='map-canvas' style='height:500px' style='border:solid 1px black'></div>
  </div>
  <div class='col-md-4'>
    {% include 'selectors.html' %}
    {% include 'trip.html' %}

  </div>
</div>
<script>
  {% autoescape false %}
  // note to instructors: next iteration, change `all_xyz` to `templateXyz`
    var hotels = {{ hotels | json }};
    var restaurants = {{ restaurants | json }};
    var activities = {{ activities | json }};
  {% endautoescape %}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkarjA8hlysMC5aK7ywsrUwYY6UwpnXG0&sensor=true"></script>
<script>

</script>
{% endblock %}
