<h4 style='text-align: center'>Day 2</h4>
<div class='panel panel-default'>
  <div class='panel-heading'>
    <ul class='nav nav-pills'>
      <li>
        <a href='/'>
          One
        </a>
      </li>
      <li>
        <a href='/'>
          Two
        </a>
      </li>
      <li class='active'>
        <a href='/'>
          Three
        </a>
      </li>
    </ul>
  </div>
  <div class='panel-body'>
    <label>My Hotel</label>
    <ul class='Hotels list-unstyled clearfix'>
      {# {% for hotel in Array(3) %} #}
      {# <li>
        <span>Hotel</span>
        <button class="btn btn-warning btn-xs pull-right ">X</button>
      </li> #}
      {# {% endfor %} #}
    </ul>
    <label>My Restaurants</label>
    <ul class='Restaurants list-unstyled clearfix'>
      {# {% for hotel in Array(3) %} #}
      {# <li>
        <span>Restaurant</span>
        <button class="btn btn-warning btn-xs pull-right ">X</button>
      </li> #}
      {# {% endfor %} #}
    </ul>
    <label>My Activities</label>
    <ul class='Activities list-unstyled clearfix'>
      {# {% for hotel in Array(3) %} #}
      {# <li>
        <span>Activity</span>
        <button class="btn btn-warning btn-xs pull-right ">X</button>
      </li> #}
      {# {% endfor %} #}
    </ul>
  </div>
</div>
