<div id="day-container">
  <h4 style='text-align: center'>Day <span class="currentDay">1</span></h4>
  {# <div class="dayAgenda-cont"> #}
    <div class='panel panel-default dayAgenda'>
      <div class='panel-heading'>
        <ul class='nav nav-pills days-display'>
          <li class='active'>
            <a href='/'>
              1
            </a>
          </li>
          <li>
            <a class="createday" href='/'>
              +
            </a>
          </li>
        </ul>
      </div>
      
      {# EVERYTHING BELOW HERE SHOULD BE CLONED / REPLACED #}
      <div class='panel-body activitylist dayAgenda-cont'>
        <label>My Hotel</label>
        <ul class='Hotels list-unstyled clearfix'>
          {# {% for hotel in Array(3) %} #}
          {# <li>
            <span>Hotel</span>
            <button class="btn btn-warning btn-xs pull-right ">X</button>
          </li> #}
          {# {% endfor %} #}
        </ul>
        <label>My Restaurants</label>
        <ul class='Restaurants list-unstyled clearfix'>
          {# {% for hotel in Array(3) %} #}
          {# <li>
            <span>Restaurant</span>
            <button class="btn btn-warning btn-xs pull-right ">X</button>
          </li> #}
          {# {% endfor %} #}
        </ul>
        <label>My Activities</label>
        <ul class='Activities list-unstyled clearfix'>
          {# {% for hotel in Array(3) %} #}
          {# <li>
            <span>Activity</span>
            <button class="btn btn-warning btn-xs pull-right ">X</button>
          </li> #}
          {# {% endfor %} #}
        </ul>
      </div>
      {# ALL ABOVE TO BE CHANGED / REPLACED #}

    </div>
  {# </div> #}
</div>
